.c-logo {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  text-align: center;
  h1 {
    font-size: getPcVw(100);
    color: $text-color3;
    font-family: 'Shadows Into Light', cursive;
  }
  span {
    font-size: getPcVw(20);
    color: $text-color3;
    font-family: 'Noto Serif JP', serif;
  }
}

@media screen and (max-width: $breakpoint-pc) {
  .c-logo {
    h1 {
      font-size: 10.0rem;
    }
    span {
      font-size: 2.0rem;
    }
  }
}


@media screen and (max-width: $breakpoint-sp) {
  .c-logo {
    width: 80%;
    h1 {
      font-size: getSpVw(60);
    }
    span {
      font-size: getSpVw(20);
    }
  }
}
