.c-menu {
  font-size: 1.4rem;
  dt, dd {
    margin-bottom: 2.0rem;
  }
  dt {
    width: 15%;
  }

  dd {
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-sp) {
  .c-menu {
    font-size: getSpVw(16);
    dt, dd {
      margin-bottom: getSpVw(20);
    }
  }
}
