.c-nav-item {
  display: inline-block;
  font-size: 1.4rem;
  padding: 2.0rem 1.0rem;
  font-weight: bold;
  a {
    color: $text-color1;
  }
}

@media screen and (max-width: $breakpoint-sp) {
  .c-nav-item {
    display: block;
    padding: getSpVw(20) getSpVw(20);
    border-bottom: 1px solid $text-color1;
    font-size: getSpVw(16);
  }
}
