.l-main {
  width: 100%;
  min-width: $breakpoint-pc;
  background-color: $base-color1;
  .p-section__image-text:nth-child(odd) {
    flex-direction: row-reverse;
  }
}


@media screen and (max-width: $breakpoint-sp) {
  .l-main {
    min-width: 100%;
  }
}
