.p-hamburger-menu {
  display: none;
}

@media screen and (max-width: $breakpoint-sp) {
  .p-hamburger-menu {
    width: 100%;
    position: fixed;
    display: block;
    top: 0;
    z-index: 30;
    background-color: $base-color1;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    &__open {
      max-height: 84vh;
      transition: all 0.7s ease-in-out;
    }
  }
}
