.p-section {
  margin: 0 auto;
  &__center {
    @extend .p-section;
    width: 50%;
    padding-top: 6.0rem;
    .c-heading {
      text-align: center;
      margin-bottom: 3.0rem;
    }
  }
  &__image-text {
    @extend .p-section;
    display: flex;
    align-items: center;
    background-color: $base-color2;
    img {
      width: 50%;
    }
    &__content {
      width: 50%;
      .c-heading__main {
        text-align: center;
        margin-bottom: 3.0rem;
      }
      p {
        width: 80%;
        margin: 0 auto;
      }
      p + p {
        margin-top: 2.5rem;
      }
    }
  }
  &__cards {
    width: 100%;
    &__inner {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding-bottom: 6.0rem;
    }
  }
  &__about {
    width: 100%;
    background-color: $base-color2;
    &__inner {
      width: 50%;
      margin: 0 auto;
      padding: 6.0rem 0;
      display: flex;
      .c-menu {
        width: 50%;
      }
      .c-map {
        width: 50%;
      }
    }
  }
  &__contact {
    width: 100%;
    padding: 6.0rem 0 0;
    .c-heading__main {
      text-align: center;
      margin-bottom: 3.0rem;
    }
    &__inner {
      width: 60%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: $breakpoint-sp) {
  .p-section {
    &__center {
      width: 100%;
      padding: getSpVw(60) $sp-pdx 0;
      .c-heading {
        margin-bottom: getSpVw(30);
      }
    }
    &__image-text {
      display: block;
      img {
        width: 100%;
      }
      &__content {
        width: 100%;
        padding: getSpVw(60) $sp-pdx;
        p {
          width: 100%;
        }
        .c-heading__main {
          margin-bottom: getSpVw(30);
        }
      }
    }
    &__cards {
      &__inner {
        width: 100%;
        display: block;
        padding: 0 0 getSpVw(60);
      }
    }
    &__about {
      &__inner {
        display: block;
        width: 100%;
        padding: getSpVw(60) $sp-pdx;
        .c-menu,
        .c-map {
          width: 100%;
        }
      }
    }
    &__contact {
      width: 100%;
      padding: getSpVw(60) $sp-pdx 0; 
      &__inner {
        width: 100%;
        .c-heading__main {
          margin-bottom: getSpVw(30);
        }
      }
    }
  }
}
